<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hrmanagementsystemdb</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres1234</property>

        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>


        <!-- JDBC connection pool settings -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>

        <!-- Echo the SQL to stdout -->
        <property name="hibernate.show_sql">true</property>

        <!-- DDL generation strategy -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Entity mappings -->
        <mapping class="org.example.Employee"/>
        <mapping class="org.example.Department"/>
        <mapping class="org.example.Project"/>
        <mapping class="org.example.Manager"/>

<!--        <class-cache class="org.example.Employee" usage="read-write"/>-->
<!--        &lt;!&ndash; Configure caching for Department entity &ndash;&gt;-->
<!--        <class-cache class="org.example.Department" usage="read-write"/>-->
<!--        <class-cache class="org.example.Project" usage="read-write"/>-->
<!--        <class-cache class="org.example.Manager" usage="read-write"/>-->

    </session-factory>


</hibernate-configuration>